NODE_ENV=development
HOST=0.0.0.0
PORT=3002
SERVICE_VERSION=local-dev

LOG_ENABLED=true
LOG_LEVEL=debug
LOG_FORMAT=pino-pretty

MONGO_URI=mongodb://localhost:27017/?replicaSet=rs0&directConnection=true
MONGO_DATABASE=forms-submission-api

HTTP_PROXY=
CDP_HTTPS_PROXY=
ENABLE_SECURE_CONTEXT=false
ENABLE_METRICS=false
TRACING_HEADER=x-cdp-request-id

DESIGNER_URL=http://localhost:3000
MANAGER_URL=http://localhost:3001
ENTITLEMENT_URL=http://localhost:3004

OIDC_JWKS_URI=http://localhost:5556/.well-known/openid-configuration/jwks
OIDC_VERIFY_AUD=local-test-client
OIDC_VERIFY_ISS=http://oidc:80

COGNITO_JWKS_URI=http://localhost:5556/.well-known/openid-configuration/jwks
COGNITO_CLIENT_IDS={"dummy":["test"]}
COGNITO_VERIFY_ISS=dummy

S3_BUCKET=my-bucket
S3_ENDPOINT=http://localhost:4566
LOADED_PREFIX=loaded
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

SQS_ENDPOINT=http://localhost:4566
SAVE_AND_EXIT_QUEUE_URL=http://localhost:4566/000000000000/forms_submission_events
SUBMISSION_QUEUE_URL=http://localhost:4566/000000000000/forms_submission
FORM_SUBMISSIONS_SQS_DLQ_ARN=
SAVE_AND_EXIT_SQS_DLQ_ARN=
RECEIVE_MESSAGE_TIMEOUT_MS=30000
SQS_MAX_NUMBER_OF_MESSAGES=10
SQS_VISIBILITY_TIMEOUT=30
SAVE_AND_EXIT_EXPIRY_IN_DAYS=28

NOTIFY_TEMPLATE_ID=3d448938-8a8b-40c2-a3de-414597f976e1
NOTIFY_API_KEY=
NOTIFY_REPLY_TO_ID=c0428382-7df0-4e57-89fa-20bb69e9e755

EMAIL_USERS_EXPIRING_SOON_SAVED_FOR_LATER_LINK_ENABLED=true
EMAIL_USERS_EXPIRING_SOON_SAVED_FOR_LATER_LINK_CRON="0 9-20 * * *"
EMAIL_USERS_EXPIRING_SOON_SAVED_FOR_LATER_LINK_EXPIRY_WINDOW_HOURS=36
EMAIL_USERS_EXPIRING_SOON_SAVED_FOR_LATER_LINK_MINIMUM_HOURS_REMAINING=2
